<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICalculateBMI" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/ECUtbildning.WCF_Service/CalculateBMI"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalculateBMI"
          contract="ICalculateBMI" name="WSHttpBinding_ICalculateBMI">
        <identity>
          <userPrincipalName value="DESKTOP-OF1EU66\Ekwalls portable" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>