<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="myFirstServiceSoap" />
                <binding name="Labb1_ServiceSoap" />
                <binding name="Labb1_3ServiceSoap" />
                <binding name="Labb1_4ServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:48862/myFirstService.asmx"
                binding="basicHttpBinding" bindingConfiguration="myFirstServiceSoap"
                contract="Labb1Reference.myFirstServiceSoap" name="myFirstServiceSoap" />
            <endpoint address="http://localhost:53770/Labb1_Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="Labb1_ServiceSoap"
                contract="ServiceReference1.Labb1_ServiceSoap" name="Labb1_ServiceSoap" />
            <endpoint address="http://localhost:54567/Labb1_3Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="Labb1_3ServiceSoap"
                contract="Labb1_3Service.Labb1_3ServiceSoap" name="Labb1_3ServiceSoap" />
            <endpoint address="http://localhost:55113/Labb1_4Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="Labb1_4ServiceSoap"
                contract="Labb1_4Reference.Labb1_4ServiceSoap" name="Labb1_4ServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>