<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="myFirstServiceSoap" />
                <binding name="Labb1_ServiceSoap" />
                <binding name="Labb1_3ServiceSoap" />
                <binding name="Labb1_4ServiceSoap" />
                <binding name="Labb1_5ServiceSoap" />
                <binding name="Labb1_5ServiceSoap1" />
                <binding name="Labb1_6_1ServiceSoap" />
                <binding name="Labb6_2Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:48862/myFirstService.asmx"
                binding="basicHttpBinding" bindingConfiguration="myFirstServiceSoap"
                contract="Labb1Reference.myFirstServiceSoap" name="myFirstServiceSoap" />
            <endpoint address="http://localhost:53770/Labb1_Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="Labb1_ServiceSoap"
                contract="ServiceReference1.Labb1_ServiceSoap" name="Labb1_ServiceSoap" />
            <endpoint address="http://localhost:54567/Labb1_3Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="Labb1_3ServiceSoap"
                contract="Labb1_3Service.Labb1_3ServiceSoap" name="Labb1_3ServiceSoap" />
            <endpoint address="http://localhost:55113/Labb1_4Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="Labb1_4ServiceSoap"
                contract="Labb1_4Reference.Labb1_4ServiceSoap" name="Labb1_4ServiceSoap" />
            <endpoint address="http://localhost:2235/Labb1_5Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="Labb1_5ServiceSoap"
                contract="Labb1_5ServiceGetDateByName.Labb1_5ServiceSoap"
                name="Labb1_5ServiceSoap" />
            <endpoint address="http://localhost:2235/Labb1_5Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="Labb1_5ServiceSoap1"
                contract="Labb1_5Reff_2_service.Labb1_5ServiceSoap" name="Labb1_5ServiceSoap1" />
            <endpoint address="http://localhost:22978/Labb1_6_1Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="Labb1_6_1ServiceSoap"
                contract="Labb1_6_1Service.Labb1_6_1ServiceSoap" name="Labb1_6_1ServiceSoap" />
            <endpoint address="http://localhost:49451/Labb6_2.asmx" binding="basicHttpBinding"
                bindingConfiguration="Labb6_2Soap" contract="Labb1_6_2_Service.Labb6_2Soap"
                name="Labb6_2Soap" />
        </client>
    </system.serviceModel>
</configuration>
