<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="myFirstServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:48862/myFirstService.asmx"
                binding="basicHttpBinding" bindingConfiguration="myFirstServiceSoap"
                contract="Labb1Reference.myFirstServiceSoap" name="myFirstServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>