<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IThousandDaysOld" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/ECUtbildning.Labb2_3Service/ThousandDaysOld"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IThousandDaysOld"
          contract="IThousandDaysOld" name="WSHttpBinding_IThousandDaysOld">
        <identity>
          <userPrincipalName value="DESKTOP-OF1EU66\Ekwalls portable" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>