<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAgeContract" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/ECUtbildning.AgeService/AgeContract"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAgeContract"
          contract="IAgeContract" name="WSHttpBinding_IAgeContract">
        <identity>
          <userPrincipalName value="DESKTOP-OF1EU66\Ekwalls portable" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>