<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IHobbyContract" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ECUtbildning.Labb2_4HobbyService/HobbyService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHobbyContract"
                contract="IHobbyContract" name="WSHttpBinding_IHobbyContract">
                <identity>
                    <userPrincipalName value="DESKTOP-OF1EU66\Ekwalls portable" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>